*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

.app{
    display: flex;
    flex-direction: row;
}
.navbar , .notification{
    width: 7.5%;
    height: 100%;
    margin-top: 1.5rem; 
} 

.notification{
    margin-top: 0; 
}
.navbar nav{
    height: 100%;
    width: 100%;
}

.navbar .up ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    margin-bottom: 10px; 
    padding-bottom: 10px;
    position: absolute;
}


.below ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    flex-direction: column; 
    margin-bottom: 10px; 
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.navbar  li, .below li{
    font-size: 15px;
    padding: 1rem 0.75rem;
    margin: 0 1.5rem;
    border-radius: 0.75rem;
    color: rgba(0, 0, 0, 0.35);
    transition: all 0.2s;
    margin-bottom: 1rem;
    text-align: center;
}


.navbar  li:hover,  .below li:hover{
    background-color: #4143ef;
    color: whitesmoke;
}

.main-wrapper{
    display: block;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20rem;
    height: 100%;
    padding: 3rem 2rem;
    background-color: lightblue;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name .text{
    margin-left: 0.5rem;
}
img {
    width: 4rem;
    height: 4rem;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}


.text p{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 0.25rem;
    font-weight: bolder;
}

.balance{
    padding: 2rem 2.5rem;
}

.balance .date{
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.balanceInfo{
    margin-bottom: 1rem;
}
h2{
    font-size: 1.7rem;
    margin-bottom: 0.25rem;
    font-weight: bolder;
}

span{
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
}

@media screen and (max-width:600px){
    .navbar{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
    }

    .navbar .up ul{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .below ul{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: auto;
        right: 0;
    }
}

